<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.cryptogem.livebot</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/caffeinate</string>
        <string>-i</string>
        <string>/opt/homebrew/bin/python3</string>
        <string>/Users/oussama/Cryptogem/trading_bot/live_trader.py</string>
        <string>--strategy</string>
        <string>ms_018</string>
        <string>--live</string>
        <string>--coins-file</string>
        <string>/Users/oussama/Cryptogem/trading_bot/halal_coins.txt</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/oussama/Cryptogem/trading_bot</string>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/oussama/Cryptogem/trading_bot/logs/launchd_stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/oussama/Cryptogem/trading_bot/logs/launchd_stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>/Users/oussama</string>
    </dict>

    <key>ThrottleInterval</key>
    <integer>30</integer>

    <key>ProcessType</key>
    <string>Background</string>

    <key>Nice</key>
    <integer>10</integer>
</dict>
</plist>
